/*Global styles*/

* {
	margin: 0;
	padding: 0;
	font-family: "PT Sans Caption";
}

.body {
	margin: 0 auto;
	max-width: 1578px;
}

a {
	color: #504A62;
}

a:link {
	text-decoration: none;
}

/*Header styles*/

.header {
	display: flex;
	justify-content: space-between;
	margin: 37px 0 109px 0;
	padding: 0 24px 0 20px;
	min-width: 400px;
	max-width: 1578px;
}

.header::before {
	content: '';
	display: inline;
	position: absolute;
	left: 0px;
	min-height: 936px;
	width: 400px;
	background-image: url(../img/vector__left.png);
	background-repeat: no-repeat;
	background-position: 0 -35px;
	z-index: -1;
}

.header::after {
	content: '';
	display: inline;
	position: absolute;
	right: 0px;
	min-height: 936px;
	width: 400px;
	background-image: url(../img/vector__right.png);
	background-repeat: no-repeat;
	background-position: -155px -37px;
	z-index: -2;
}

.burger {
	display: none;
}


.logo {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 44px;
	min-width: 144px;
}

.logo__pic {
	height: 44px;
	min-width: 44px;
}

.logo__pic_mobile {
	display: none;
}

.logo__text {
	height: 29px;
	min-width: 90px;
}

.logo__text_mobile {
	display: none;
}

.nav {
	display: flex;
	justify-content: space-between;
	padding-top: 19px;
	min-width: 316px;
	font-size: 18px;
	font-weight: bold;
}

.nav__span {
	text-transform: uppercase;
}

/*Main styles*/

.main-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 784px;
	min-width: 868px;
	background-image: url(../img/iphonexs.png);
	background-repeat: no-repeat;
	background-position: bottom;
}

.main-content__text {
	margin-bottom: 56px;
	height: 104px;
	max-width: 868px;
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	line-height: 51px;
	color: #504A62;
}

.download {
	display: flex;
	justify-content: space-between;
	min-width: 425px;
}

.download__apple {
	height: 64px;
	min-width: 195px;
}

.download__android {
	height: 64px;
	min-width: 195px;
}

/*Adaptive*/

@media (max-width: 1366px) {

	.body {
		margin: 0 auto;
		max-width: 1098px;
	}

	.header {
		margin: 36px 0 85px 0;
		padding-left: 86px;
		min-width: 400px;
		max-width: 1098px;
	}

	.header::before {
		min-height: 700px;
		background-image: url(../img/vector__left.png);
		background-position: -9px 4px;
		background-size: 359px;	
	}

	.header::after {
		min-height: 700px;
		background-image: url(../img/vector__right_1366.png);
		background-position: 4px -36px;
	}

	.logo {
		height: 34px;
		min-width: 110px;
	}

	.logo__pic {
		height: 34px;
		min-width: 34px;
	}

	.logo__text {
		height: 22px;
		min-width: 68px;
	}

	.nav {
		display: flex;
		justify-content: flex-start;
		padding-top: 14px;
		margin-right: 20px;
		min-width: 258px;
		font-size: 14px;
		font-weight: bold;
	}

	.nav__link_features {
		margin-right: 20px;
	}

	.nav__link_pricing {
		margin-right: 23px;
	}

	.nav__link_faq {
		margin-right: 25px;
		width: 27px;
	}

	.main-content {
		min-height: 613px;
		min-width: 720px;
		background-image: url(../img/iphonexs__1366.png);
		background-repeat: no-repeat;
		background-position: bottom;
	}

	.main-content__text {
		height: 83px;
		font-size: 32px;
		max-width: 720px;
		margin-bottom: 40px;
		line-height: 41px;
	}

	.download {
		min-width: 293px;
	}

	.download__apple {
		height: 44px;
		min-width: 134px;
	}

	.download__android {
		height: 44px;
		min-width: 134px;
	}
}

@media (max-width: 1170px) {
	.body {
		margin: 0 auto;
		max-width: 1098px;
	}

	.header {
		margin: 36px 0 85px 0;
		padding-left: 86px;
		min-width: 400px;
		max-width: 1098px;
	}

	.header::before {
		min-height: 700px;
		background-image: url(../img/vector__left_1170.png);
		background-position: 0 -37px;
		background-size: 316px;
	}

	.header::after {
		min-height: 700px;
		background-image: url(../img/vector__right_1170.png);
		background-position: 29px -36px;
	}
}

@media (max-width: 875px) {
	.header {
		margin: 36px 0 85px 0;
		padding-left: 20px;
		min-width: 400px;
		max-width: 875px;
	}

	.main-content {
		height: 613px;
		min-width: 400px;
	}
}

@media (max-width: 435px) {
	.header {
		display: flex;
		flex-direction: column;
	}

	.logo {
		display: flex;
		justify-content: center;
	}

	.nav {
		display: flex;
		justify-content: center;
	}
}

@media (max-width: 375px) {
	.body {
		margin: 0 auto;
		max-width: 299px;
		overflow:  hidden;
	}

	.header {
		display: flex;
		justify-content: flex-end;
		flex-direction: column;
		padding: 0;
		margin: 54px 0 34px 0;
		min-width: 299px;	
		max-width: 299px;
	}

	.header::before,
	.header::after {
		display: none;
	}

	.logo {
		display: flex;
		justify-content: center;
		margin-left: 28px;
		width: 205px;
	}

	.logo__pic {
		display: none;
	}

	.logo__pic_mobile {
		display: flex;
		width: 51px;
		height: 51px;
		margin-right: 14px;
	}

	.logo__text {
		display: none;
	}

	.logo__text_mobile {
		display: flex;
		height: 33px;
		width: 103px;
		color: #fff;
	}

	.nav {
		display: none;
	}

	.burger {
		display: flex;
		justify-content: flex-end;
		position: relative;
		margin-bottom: 45px;
		height: 17px;
		width: 299px;
		text-align: center;
		background-color: #fff;
	}

	.burger__checkbox {
		display: none;
	}

	.burger__label {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 4;
	}

	.burger__line {
		position: absolute;
		width: 25px;
		height: 3px;
		background-color: #FF9100;
		transition: .5s all;
	}

	.burger__line_second,
	.burger__line_third {
		position: absolute;
		top: 7px;
		height: 3px;
		width: 25px;
		background-color: #FF9100
	}

	.burger__line_fourth {
		position: absolute;
		top: 14px;
		height: 3px;
		width: 25px;
		background-color: #FF9100
	}

	.burger-menu {
		display: block;
		position: absolute;
		height: 267px;
		width: 299px;
		top: 206px;
		max-height: 0;
		font-size: 0;
		overflow: hidden;
		transition: .5s all;
	}

	.burger-menu__link {
		display: block;
		height: 54px;
		width: 299px;
		font-size: 30px;
		text-align: center;
		line-height: 36px;
		color: #000;
	}

	.burger-menu__span {
		text-transform: uppercase;
	}

	#check:checked ~ .burger-menu {
		max-height: 593px;
		font-size: 16px;
	}

	#check:checked ~ .main {
		display: none;
	}

	#check:checked ~ .burger__line_first {
		display: none;
	}

	#check:checked ~ .burger__line_second {
		transform: rotate(45deg);
	}

	#check:checked ~ .burger__line_third {
		transform: rotate(-45deg);
	}

	#check:checked ~ .burger__line_fourth {
		display: none;
	}

	.main-content {
		min-height: 483px;
		min-width: 299px;
		margin-left: 0px;
		background-image: url(../img/iphonexs__mobile.png);
		background-repeat: no-repeat;
		background-position: bottom;
	}

	.main-content__text {
		height: 94px;
		font-size: 24px;
		max-width: 285px;
		margin-bottom: 66px;
		margin-left: 6px;
		margin-right: 15px;
		line-height: 31px;
		color: black;
	}

	.download {
		min-width: 226px;
		margin-right: 8px;
	}

	.download__apple {
		height: 35px;
		min-width: 108px;
	}

	.download__android {
		height: 35px;
		min-width: 108px;
	}
}